body{
    padding: 0px;
    margin: 0px;
    font-family: "Arial";
}

img {
	vertical-align: middle;
}

.head-container{
    background-color: #ffcc00;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "logo play-button"
    "now-playing play-button";
    /* justify-items: stretch;
    align-items: stretch; */
}

.head-container #logo{
    grid-area: logo;
    padding: 20px;
    max-width: 90%;
}

.head-container .now-playing{
    grid-area: now-playing;
    align-self: end;
    padding: 20px;
    font-weight: 300;
    font-size: 16px;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 20px;
    line-height: 20px;
    line-height: 2rem;
}

.head-container .play-button{
    grid-area: play-button;
	padding: 20px;
    max-width: 90%;
}

.head-container .play-button #play{
    min-width: 0%;
    max-width: 100%;
    max-height: 100%;
}

.head-container .now-playing .text-nowplaying{
    font-size: small;
}

.head-container .now-playing .text-artist{
    font-weight: bold;
    font-size: xx-large;
}

.row2{
    background-color: #660099;
    min-width: 0%;
    max-width: 100%;
    max-height: 100%;
}

.row2 #row2{
	width: calc(100% + 4rem);
	margin: 0 -2rem;
}

.howto{
    background-color: #ffcc00;
	/* display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -20px;
	margin-left: -20px; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    	"howto-text dot"
    	"j-img fm-cities";
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 20px;
	overflow: visible;
	position: relative;
}

.howto .howto-text{
    grid-area: howto-text;
    font-size: 15vw;
	letter-spacing: -5%;
	line-height: 99%;
	align-self: start;
	font-weight: bolder;
}

.howto .j-img{
    grid-area: j-img;
	display: flex;
	justify-content: left;
	align-items: center;
	position: relative;
	top: -30%;
}

.howto .j-img #j-img{
	height: auto;
	max-width: 50%;
}

.howto .dot {
	grid-area: dot;
	width: 11.5vw;
    height: 11.5vw;
    border-radius: 20vw;
    background: #000000;
    margin-left: auto;
	margin-top: 15px;
	margin-right: 20px;
	align-self: start;
}

.howto .fm-cities{
	display: flex;
	flex-direction: column;
	gap: 5px;
    grid-area: fm-cities;
	text-align: justify;
	font-size: large;

}

.howto .fm-cities #text-1fm {
	padding-bottom: 2%;
	border-bottom: black solid 1px;
}

.howto .fm-cities #no_one {
	padding-right: 10px;
	font-size: xxx-large;
}

.howto .fm-cities #FMFM {
	font-size: 500%;
}

.howto .fm-cities .cities-text{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 8%;
	padding-bottom: 8%;
	border-bottom: black solid 1px;
}

.online-url{
	background-color: #ffcc00;
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
		"websites-list a-img";
	justify-content: space-between;
	align-items: center;
}

.online-url .a-img{
	grid-area: a-img;
	width: 100%;
	height: auto;
	max-width: 100%;
	object-fit: cover;
	padding-bottom: 20px;
	padding-left: 20px;
}

.online-url .a-img #a-img{
	max-width: 90%;
	justify-self: end;
}

/* .online-url {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 8%;
	padding-bottom: 8%;
	border-bottom: black solid 1px;
} */

.online-url .text-2online #no_two {
	padding-right: 10px;
	font-size: xx-large;
}

.online-url .text-2online #ONON {
	font-size: 450%;
}

.online-url .text-2online {
	border-bottom: black solid 1px;
}

.online-url .websites-list{
	grid-area: websites-list;
	padding-left: 20px;
	padding-right: 20px;
}

.online-url .websites-url {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 6%;
	padding-bottom: 6%;
	border-bottom: black solid 1px;
}

.online-url .websites-url a{
	color: black;
	text-decoration: none;
} 
  
@media (min-width: 768px) {
	.howto-text {
		font-size: 10.36vw;
		line-height: 12.5vw;
	}
	.head-container .play-button #play {
		max-width: 100%;
		width: 100%;
		min-height: 50rem;
		height: 100vh;
	}
	.howto .j-img #j-img{
		/* justify-content: left;
		align-items: center; */
		position: relative;
		max-width: clamp(50%, 60vw, 80%);
		margin-top: clamp(-15%, -10vh, -12%);
		/* max-width: 50%;
		margin-top: -15%; */
	}
	.online-url .a-img #a-img{
		/* justify-content: center;
		align-items: center; */
		position: relative;
		padding-left: 5%;
		padding-right: 5%;
	}
}

.row4{
    background-color: #660099;
    min-width: 0%;
    max-width: 100%;
    max-height: 100%;
}

.row4 #row4{
	width: calc(100% + 4rem);
	margin: 0 -2rem;
}

@media (max-width: 768px) {
	.head-container{
		background-color: #ffcc00;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			"logo"
			"play-button"
			"now-playing";
		/* justify-items: stretch;
		align-items: stretch; */
	}
    .howto {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "howto-text"
            "j-img"
            "fm-cities";
        text-align: left;
    }
	.howto .j-img #j-img{
		justify-content: left;
		align-items: center;
		position: relative;
		max-width: 50%;
		margin-top: -5%;
	}
	.howto .dot {
		display: none;
	}
	.howto .fm-cities #no_one {
		padding-right: 5px;
		font-size: xx-large;
	}
	.howto .fm-cities #FMFM {
		font-size: 350%;
	}
	.online-url{
		background-color: #ffcc00;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		grid-template-areas:
			"a-img"
			"websites-list";
		justify-content: center;
	}
	.online-url .a-img #a-img{
		justify-self: center;
		width: 100%;
	}
    /* .howto .j-img #j-img {
        justify-content: left;
		position: relative;
		grid-row: 2 / 4;
		top: -32%;
	} */
}